<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Balance Semanal</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title">Balance Semanal</h1>
            <div class="table-container">
                <table class="table is-striped is-fullwidth">
                        <tr>
                            <th>Semana</th>
                            <th>Balance</th>
                        </tr>
                    <tbody>
                        {% for semana, balance in balance %}
                            <tr>
                                <td>{{ semana }}</td>
                                <td>{{ balance }} €</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="control">
                <a href="{{ url_for('index') }}" class="button is-link">Volver</a>
            </div>
        </div>
    </section>
</body>
</html>
