<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banco MCB</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title has-text-centered">Bienvenido al Banco MCB</h1>
            <p class="has-text-centered">Seleccione una opción:</p>

            <div class="columns is-multiline is-centered">
                <div class="column is-one-quarter">
                    <a class="box has-text-centered" href="{{ url_for('nueva_transaccion') }}">
                        <p class="text">Dar de alta a ingresos y gastos</p>
                    </a>
                </div>
                <div class="column is-one-quarter">
                    <a href="{{ url_for('nueva_deuda') }}" class="box has-text-centered">
                        <p class="text">Nueva deuda</p>
                    </a>
                </div>
                <div class="column is-one-quarter">
                    <a class="box has-text-centered" href="{{ url_for('ver_deudas') }}">
                        <p class="text">Control de deudas</p>
                    </a>
                </div>
                <div class="column is-one-quarter">
                    <a class="box has-text-centered" href="{{ url_for('saldo_actual') }}">
                        <p class="text">Consultar el saldo actual</p>
                    </a>
                </div>
            </div>

            <div class="columns is-centered">
                <div class="column is-half">
                    <div class="box">
                        <h2 class="subtitle has-text-centered">Consultar balance de gastos</h2>
                        <p class="has-text-centered">Seleccione el período:</p>
                        <div class="buttons is-centered">
                            <a class="button is-primary" href="{{ url_for('balance_semanal') }}">Semanal</a>
                            <a class="button is-link" href="{{ url_for('balance_mensual') }}">Mensual</a>
                            <a class="button is-info" href="{{ url_for('balance_anual') }}">Anual</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
