<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banco MCB</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title">Bienvenido al Banco MCB</h1>
            <p>Seleccione una opción:</p>
            <div class="columns">
                <div class="column">
                    <a class="box" href="{{ url_for('transaction') }}">
                        <p class="text">Dar de alta a ingresos y gastos</p>
                        <!-- Aquí puedes agregar un formulario para dar de alta ingresos y gastos -->
                    </a>
                </div>
                <div class="column">
                    <a class="box" href="{{ url_for('ver_deudas') }}">
                        <p class="text">Control de deudas</p>
                        <!-- Aquí puedes agregar funcionalidades para el control de deudas -->
                    </a>
                </div>
                <div class="column">
                    <a class="box" href="{{ url_for('saldo_actual') }}">
                        <p class="text">Consultar el saldo actual</p>
                        <!-- Aquí puedes agregar funcionalidades para consultar el saldo actual -->
                    </a>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <div class="box">
                        <h2 class="subtitle">Consultar balance de gastos</h2>
                        <p>Seleccione el período:</p>
                        <div class="buttons">
                            <a class="button">Esta semana</a>
                            <a class="button">Este mes</a>
                            <a class="button">Este año</a>
                            <!-- Puedes agregar más opciones según tus necesidades -->
                        </div>

                    </div>
                </div>
                <div class="column">
                    <a class="box">
                        <p class="text">Consultar balance entre fechas</p>
                        <!-- Aquí podrías agregar un formulario para seleccionar un rango de fechas -->
                    </a>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
